/* Estilos generales para el cuerpo del documento */
body {
    margin: 0;
    font-family: 'roboto';
}

/* Estilos para el encabezado */
header {
    background-color: rgb(100, 107, 152);
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;
}

/* Estilos para el título principal */
h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

/* Estilos para la barra de navegación */
nav, ul {
    list-style: none;
    display: flex;
}

/* Estilos para elementos de lista */
li {
    margin: 0 10px;
}

/* Estilos para enlaces en la barra de navegación */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos para el contenedor principal */
.container {
    position: relative;
    background-color: rgb(73, 72, 72);
    padding: 1em;
}

/* Estilos para el contenido principal */
.content {
    background-color: rgb(2, 77, 190);
    padding: 10%;
    text-align: center;
}

/* Estilos para imágenes */
.image {
    width: 200px;
}

/* Estilos para centrar elementos horizontalmente */
.center {
    margin: 0 auto;
}

/* Estilos para secciones con margen superior */
section {
    margin-top: 20px;
}

/* Estilos para filas con margen inferior */
.row {
    margin-bottom: 20px;
}

/* Estilos para artículos */
article {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilos para el pie de página */
footer {
    background-color: rgb(1, 19, 69);
    padding: 5%;
    text-align: center;
    color: white;
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column; /* Cambia la dirección de la barra de navegación a columna */
        align-items: center; /* Centra los elementos verticalmente */
    }

    li {
        display: block;
        margin: 10px 0; /* Agrega espacio entre elementos en modo bloque */
    }
}
